.feedbackBoxParent{
    width: 248px;
    height: 304px;
}

.feedbackBox{
    position: relative;
}
.feedbackBoxParent .userpic{
    width: 95px;
    height: 85px;
}
.feedback2{
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 49px;
    position: relative;
}
.feedback1{
    position: relative;
}

.feedbackBoxChild{
    position: relative;
    top: -280px;
}
.feedbackBoxChild h1{
    font-size: 14px;
    color: #3B7976;
}

.feedbackBoxChild p{
    font-size: 14px;
    color: #061817;
    text-align: center;
}

.feedbackBoxChild img{
    width: 24px;
    height: 24px;
}

.feedback1 h1{
    font-size: 25px;
    color: #254F4C;
    font-family: Roboto, serif;
    margin-top: 56px;
}

.feedbackBoxChild .date{
    color: #3B7976;
    font-size: 14px;

}