.newProducts{
    background-color: white;
    display: flex;
    align-items: center;
    margin-top: 56px;

}

.span{
    margin-left: 164px;
}

.newProducts p a{
    margin-left: 16px;
    font-size: 16px;
    font-family: Roboto, serif;
    color: #1D3130;
}

.newProducts h3{
    font-size: 25px;
    font-family: Roboto,serif;
    color: #254F4C;
}



