.newProducts{
    background-color: white;
    display: flex;
    align-items: center;

}

.newProducts ul li{
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 16px;
    font-family: Roboto, serif;

}

.new a{
    font-size: 25px;
    font-family: Roboto,serif;
    color: #254F4C;
    margin-top: 89px;
    margin-left: 200px;
    margin-right: 164px;
}