.header{
    background-color: white;
    display: flex;
    margin-top: 24px;

}

.header ul li{
    list-style: none;
    display: inline;
    margin-right: 60px;
    font-size: 16px;
    font-family: Roboto, serif;
}

.header .logo{
    width: 224px;
    height: 40px;
    margin-left: 165px;
    margin-right: 115px;

}



