.information{
    background-color: white;
    display: inline-flex;
    justify-content: center;
    text-align: center;
}
.information div{
    width: 256px;
    margin-top: 42px;
    margin-right: 32px;
}
.why h1{
    font-size: 25px;
    font-family: Roboto, serif;
    color: #254F4C;
    margin-top: 42.29px;

}

.information h1{
    text-align: center;
    font-family: Roboto, serif;
    font-size: 20px;
    color: #254F4C;
}

.information p{
    text-align: center;
    font-family: Roboto, serif;
    font-size: 14px;
    color: #1D3130;
}